<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xmlns:context="http://www.springframework.org/schema/context"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
				http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
				http://www.springframework.org/schema/tx 
		        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		        http://www.springframework.org/schema/context 
		        http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	
	<!-- Seta anotaçoes para serem usadas pelo Spring -->
	<context:annotation-config />
	
	<!-- Define o pacote onde o Spring vai procurar por beans anotados -->
	<context:component-scan base-package="bolao.services.impl, bolao.dao.impl"/>
	
	<!-- Configuracao do Banco de Dados -->	
	<bean id="DataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName">
			<value>java:/comp/env/jdbc/BolaoDB</value>
		</property>
	</bean>
		
	<!-- Session Factory Declaration -->
	<bean id="SessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="DataSource" />
		<property name="annotatedClasses">
			<list>
				<value>bolao.model.Aposta</value>
				<value>bolao.model.Clube</value>
				<value>bolao.model.Usuario</value>
				<value>bolao.model.Jogo</value>
				<value>bolao.model.Ranking</value>				
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>
	
	<!-- define que as transaçoes irao ser anotadas -->
    <tx:annotation-driven transaction-manager="txManager"/>

	<!-- Configuracao do gerente de transacoes do Spring -->
    <bean id="txManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
       <property name="sessionFactory" ref="SessionFactory"/>
    </bean>
  
</beans>
