html{font-size: 11px;}

body{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #715d5d;
	margin: 0;
	padding: 0;
	background-color: #c5d5e0;
}

div#head{
	width: 100%;
	height: 300px;
	background: url(../imagens/bg_head.png) repeat-x; 
}

div#head div#menu_topo {
	height: 20px;
	margin-right: 50px;
	padding-top: 20px;
}

div#head div#menu_topo ul {
	margin: 0;
	padding-right: 30;
	list-style: none;
	float: right;
}

div#head div#menu_topo ul li {
	float: left;
	display: inline;
	margin: 3px 5px 0 5px;
	color: #fff;
}

div#head div#menu_topo ul li a {
	text-decoration: none;
	color: #fff;
}

div#head div#menu_topo ul li a:hover {
	text-decoration: underline;
}

div#head div#logo{
	width: 235px;
	height: 215px;
	background: url(../imagens/logo_site.png) no-repeat;
	float: left;
	margin-left:100px;
}

div#container {
	width: 999px;
	height: auto;
	margin: 0 auto;
}

div#center {
	width: 100%;
	height: auto;
	background: #f7f7f7;
	float: left;
	display: inline;
}

div#center div#content {
	width: 957px;
	height: auto;
	background: #fff;
	margin: 10px;
	padding: 10px 10px;
	border: 1px solid #dedede;
	float: left;
	display: inline;
}

div#center div#content .ui-messages-info, 
div#center div#content .ui-messages-warn,
div#center div#content .ui-messages-error,
div#center div#content .ui-messages-fatal{
	margin:0 0 10px 0;
}

div#center div#content .ui-messages-info{
	color:#3c904e;
	background-color:#d7fdd9;
	border-color:#b0e6b2;
}

div#center div#content .ui-messages-info-icon{
	background:url(../imagens/messages.png) no-repeat 0px -52px;
	display:block;
	float:left;
	margin:0;
	padding:0;
	position:relative;
	height:24px;
	width:24px;
	margin-top:-4px;
}

div#center div#content .ui-messages-info-summary{
	margin-left:10px;
	font-weight:bold;
}

div#center div#content .ui-messages-info-detail{
	margin-left:5px;
}

.escudos {
	width:52px;
	height:52px;
	background:url("../imagens/escudos.png")  no-repeat;
}

/*  linha um */
.brasil{
	background-position: -5px -10px;
}

.croacia{
	background-position: -64px -10px;
}

.mexico{
	background-position: -123px -10px;
}

.camaroes{
	background-position: -182px -10px;
}

.espanha{
	background-position: -241px -10px;
}

.holanda{
	background-position: -300px -10px;
}

.chile{
	background-position: -359px -10px;
}

.australia{
	background-position: -418px -10px;
}

/*  linha dois */
.colombia{
	background-position: -5px -80px;
}                        
                         
.grecia{                 
	background-position: -64px -80px;
}                        
                         
.costa_do_marfim{        
	background-position: -123px -80px;
}                        
                         
.japao{                  
	background-position: -182px -80px;
}                        
                         
.uruguai{                
	background-position: -241px -80px;
}                        
                         
.costa_rica{             
	background-position: -300px -80px;
}                        
                         
.inglaterra{             
	background-position: -359px -80px;
}                        
                         
.italia{                 
	background-position: -418px -80px;
}

/*  linha tres */
.suica{
	background-position: -5px -150px;
}                        
                         
.equador{                
	background-position: -64px -150px;
}                        
                         
.franca{                 
	background-position: -123px -150px;
}                        
                         
.honduras{               
	background-position: -182px -150px;
}                        
                         
.argentina{              
	background-position: -241px -150px;
}                        
                         
.bosnia{                 
	background-position: -300px -150px;
}                        
                         
.ira{                    
	background-position: -359px -150px;
}                        
                         
.nigeria{                
	background-position: -418px -150px;
}

/*  linha quatro */
.alemanha{
	background-position: -5px -220px;
}                        
                         
.portugal{               
	background-position: -64px -220px;
}                        
                         
.gana{                   
	background-position: -123px -220px;
}                        
                         
.estados_unidos{         
	background-position: -182px -220px;
}                        
                         
.belgica{                
	background-position: -241px -220px;
}                        
                         
.argelia{                
	background-position: -300px -220px;
}                        
                         
.russia{                 
	background-position: -359px -220px;
}                        
                         
.coreia_do_sul{          
	background-position: -418px -220px;
}

.dia{
	font-size: 12px;
	text-transform: uppercase;
	color: #a0a0a0;
}

.celula{
	position: relative;
	height: 100%;
	vertical-align: middle;
}

.numero{
	padding-top: 10px;
	font-size: 12px;
	display: block;
}