html {
	font-size: 11px;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #715d5d;
	margin: 0;
	padding: 0;
	background-color: #c5d5e0;
}

div#geral {
	position: relative;
}

div#head {
	width: 100%;
	height: 300px;
}

div#head div#menu_topo {
	height: 20px;
	margin-right: 50px;
	padding-top: 20px;
}

div#head div#menu_topo ul {
	margin: 0;
	padding-right: 30;
	list-style: none;
	float: right;
}

div#head div#menu_topo ul li {
	float: left;
	display: inline;
	margin: 3px 5px 0 5px;
	color: #fff;
}

div#head div#menu_topo ul li a {
	text-decoration: none;
	color: #fff;
}

div#head div#menu_topo ul li a:hover {
	text-decoration: underline;
}

div#head div#logo {
	width: 235px;
	height: 215px;
	float: left;
	margin-left: 100px;
	cursor: hand;
}

div#head div#logo a {
	height: 210px;
	width: 235px;
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
}

div#container {
	width: 999px;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: 60px;
}

div#center {
	width: 100%;
	height: auto;
	background: #f7f7f7;
	float: left;
	display: inline;
}

div#center div#content {
	width: 957px;
	height: auto;
	background: #fff;
	margin: 10px;
	padding: 10px 10px;
	border: 1px solid #dedede;
	float: left;
	display: inline;
}

div#center div#content .ui-messages-info, div#center div#content .ui-messages-warn,
	div#center div#content .ui-messages-error, div#center div#content .ui-messages-fatal
	{
	margin: 0 0 10px 0;
}

div#center div#content .ui-messages-info {
	color: #3c904e;
	background-color: #d7fdd9;
	border-color: #b0e6b2;
}

div#center div#content .ui-messages-info-icon {
	background: url(../imagens/messages.png) no-repeat 0px -52px;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
	height: 24px;
	width: 24px;
	margin-top: -4px;
}

div#rodape {
	width: 100%;
	height: 60px;
	position: absolute;
	bottom: 0;
}

div#center div#content .ui-messages-info-summary {
	margin-left: 10px;
	font-weight: bold;
}

div#center div#content .ui-messages-info-detail {
	margin-left: 5px;
}

div#confronto div {
	display: inline-block;
	text-align: right;
	padding-top: 20px;
}

div#confronto div#mandante {
	width: 35%;
}

div#confronto div#visitante {
	width: 35%;
	text-align: left;
}

div#confronto div#placar {
	width: 25%;
	text-align: center !important;
	display: inline-block;
}

.tabela td {
	text-align: center !important;
}

.selecao {
	font-size: 12px;
	text-transform: uppercase;
	vertical-align: middle;
	padding-left: 5px;
}

.dia {
	font-size: 12px;
	text-transform: uppercase;
	color: #A0A0A0;
}

.data {
	font-weight: bold;
	font-size: 15px;
	color: #333;
}

.hora {
	font-size: 12px;
	color: #676767;
}

.estadio {
	font-size: 10px;
	color: #676767;
}

.glb-conteudo {
	margin: 0 auto !important;
	width: 81em;
	text-align: left;
}

.bemVindo {
	margin: 0px !important;
	padding: 0px;
	border: 0px none;
	outline: 0px none;
	font-size: 100%;
	font-family: inherit;
	margin-right: 30px !important;
}

.bemVindo .estilo-p1 {
	color: #323232;
	font-size: 2.17em;
	letter-spacing: -0.07em;
	line-height: 0.7em;
	margin: 0px !important;
}

.bemVindo .estilo-p2 {
	color: #323232;
	font-size: 3.33em;
	font-weight: bold;
	letter-spacing: -0.07em;
	line-height: 1em;
	margin: 0px !important;
}

.bemVindo .estilo-p3 {
	color: #818181;
	font-size: 1.67em;
	letter-spacing: -0.05em;
	line-height: 1.5em;
	margin: 0px !important;
	text-align: right;
}

.bemVindo ul {
	margin: 2em 0px !important;
	list-style: none outside none;
}

.bemVindo ul li {
	color: #5E5E5E;
	font-weight: bold;
	margin: 0.3em 0px 0.3em 0px;
}

.background-ouro {
	background: #eeef8e
}

.background-prata {
	background: #d0d0c5
}

.background-bronze {
	background: #f9d69a
}

.background-usuario {
	background: #acdd4a;
}

.decrescente {
	color: #E00;
}

.crescente {
	color: #090;
}

.permanece {
	color: #0000ff;
}

.nomeRanking {
	font-weight: bold;
	color: #333;
}

.ui-selectmanymenu {
	padding: 2px;
	width: 400px;
}

.placarDetalhe {
	font-weight: bold;
	font-size: 25px;
	color: #333;
}

div#menu {
	height: 35px;
	margin: 6px 0;
}

div#menu form#formMenuPrincipal .ui-menubar {
	height: 33px;
	font-size: 1.09em;
	float: right;
	margin: 0;
	padding: 0;
	background: url('../imagens/bg_menu.png') repeat-x;
	border: 1px solid #cbcbcb;
}

div#menu form#formMenuPrincipal .ui-menubar .ui-menu-listCustom {
	margin-left: 10px;
	padding-left: 2px;
}

figure {
	float: right;
	width: 30%;
	text-align: center;
	font-style: italic;
	font-size: smaller;
	text-indent: 0;
	margin: 0.5em;
	padding: 0.5em;
	display: table;
}

img.scaled {
	width: 100%;
}

figcaption {
	display: table-caption;
	caption-side: top;
}

.logo {
	color: white;
	font-size: 3.0em;
	font-weight: bold;
	letter-spacing: -0.07em;
	margin: 0px !important;
	text-decoration: none;
}

.ultimaAtualizacao {
	display: inline;
	font-weight: bold;
	color: #616e73;
	font-size: smaller;
	text-indent: 0;
}

.inconsistente {
	color: #db161d;
}