html{font-size: 11px;}

body{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #715d5d;
	margin: 0;
	padding: 0;
	background-color: #c5d5e0;
}

div#geral{
	position:relative;
}

div#head{
	width: 100%;
	height: 300px;
	background: url(../imagens/bg_head.png) repeat-x; 
}

div#head div#menu_topo {
	height: 20px;
	margin-right: 50px;
	padding-top: 20px;
}

div#head div#menu_topo ul {
	margin: 0;
	padding-right: 30;
	list-style: none;
	float: right;
}

div#head div#menu_topo ul li {
	float: left;
	display: inline;
	margin: 3px 5px 0 5px;
	color: #fff;
}

div#head div#menu_topo ul li a {
	text-decoration: none;
	color: #fff;
}

div#head div#menu_topo ul li a:hover {
	text-decoration: underline;
}

div#head div#logo{
	width: 235px;
	height: 215px;
	background: url(../imagens/logo_site.png) no-repeat;
	float: left;
	margin-left:100px;
	cursor: hand;
}

div#head div#logo a{
	height: 210px; 
	width: 235px;
	margin: 0; padding: 0; border: 0; display:block;
}

div#container {
	width: 999px;
	height: auto;
	margin: 0 auto;
	overflow:hidden;
	padding-bottom: 60px;
}

div#center {
	width: 100%;
	height: auto;
	background: #f7f7f7;
	float: left;
	display: inline;
}

div#center div#content {
	width: 957px;
	height: auto;
	background: #fff;
	margin: 10px;
	padding: 10px 10px;
	border: 1px solid #dedede;
	float: left;
	display: inline;
}

div#center div#content .ui-messages-info, 
div#center div#content .ui-messages-warn,
div#center div#content .ui-messages-error,
div#center div#content .ui-messages-fatal{
	margin:0 0 10px 0;
}

div#center div#content .ui-messages-info{
	color:#3c904e;
	background-color:#d7fdd9;
	border-color:#b0e6b2;
}

div#center div#content .ui-messages-info-icon{
	background:url(../imagens/messages.png) no-repeat 0px -52px;
	display:block;
	float:left;
	margin:0;
	padding:0;
	position:relative;
	height:24px;
	width:24px;
	margin-top:-4px;
}

div#rodape{
	width: 100%;
	height: 60px;
	position: absolute;
	bottom: 0;
}

div#center div#content .ui-messages-info-summary{
	margin-left:10px;
	font-weight:bold;
}

div#center div#content .ui-messages-info-detail{
	margin-left:5px;
}

div#confronto div{
	display: inline-block;
	text-align: right;
	padding-top: 20px;
}

div#confronto div#mandante{
	width: 35%;
}

div#confronto div#visitante{
	width: 35%;
	text-align: left;
}

div#confronto div#placar{
	width: 25%; 
	text-align: center !important;
	display: inline-block;
}

.escudos {
	width:52px;
	height:52px;
	background:url("../imagens/escudos.png")  no-repeat;
	vertical-align: middle;
	display: inline-block;
}

/*  linha um */
.brasil{
	background-position: -5px -10px;
}

.croacia{
	background-position: -64px -10px;
}

.mexico{
	background-position: -123px -10px;
}

.camaroes{
	background-position: -182px -10px;
}

.espanha{
	background-position: -241px -10px;
}

.holanda{
	background-position: -300px -10px;
}

.chile{
	background-position: -359px -10px;
}

.australia{
	background-position: -418px -10px;
}

/*  linha dois */
.colombia{
	background-position: -5px -80px;
}                        
                         
.grecia{                 
	background-position: -64px -80px;
}                        
                         
.costa_do_marfim{        
	background-position: -123px -80px;
}                        
                         
.japao{                  
	background-position: -182px -80px;
}                        
                         
.uruguai{                
	background-position: -241px -80px;
}                        
                         
.costa_rica{             
	background-position: -300px -80px;
}                        
                         
.inglaterra{             
	background-position: -359px -80px;
}                        
                         
.italia{                 
	background-position: -418px -80px;
}

/*  linha tres */
.suica{
	background-position: -5px -150px;
}                        
                         
.equador{                
	background-position: -64px -150px;
}                        
                         
.franca{                 
	background-position: -123px -150px;
}                        
                         
.honduras{               
	background-position: -182px -150px;
}                        
                         
.argentina{              
	background-position: -241px -150px;
}                        
                         
.bosnia{                 
	background-position: -300px -150px;
}                        
                         
.ira{                    
	background-position: -359px -150px;
}                        
                         
.nigeria{                
	background-position: -418px -150px;
}

/*  linha quatro */
.alemanha{
	background-position: -5px -220px;
}                        
                         
.portugal{               
	background-position: -64px -220px;
}                        
                         
.gana{                   
	background-position: -123px -220px;
}                        
                         
.estados_unidos{         
	background-position: -182px -220px;
}                        
                         
.belgica{                
	background-position: -241px -220px;
}                        
                         
.argelia{                
	background-position: -300px -220px;
}                        
                         
.russia{                 
	background-position: -359px -220px;
}                        
                         
.coreia_do_sul{          
	background-position: -418px -220px;
}

.tabela td {
	text-align: center !important;
}

.selecao{
	font-size: 12px;
	text-transform: uppercase;
	vertical-align: middle;
	padding-left: 5px;
}

.dia{
	font-size: 12px;
	text-transform: uppercase;
	color: #A0A0A0;
}

.data{
	font-weight: bold;
	font-size: 15px;
	color: #333;
}

.hora{
	font-size: 12px;
	color: #676767;
}

.glb-conteudo {
	margin: 0 auto !important;
	width: 81em;
	text-align: left;
}

#bolao-barra {
    bottom: 0;
	color: #909090;
	position: fixed;
	height: 60px;
	z-index: 9999999;
	width: 700px;
	padding-left: 200px;
}

div#bolao-barra div.envelope {
    position: absolute;
    background: url("../imagens/bg_sombra_transparent.png") repeat scroll 0% 0% transparent;
    width: 452px;
    border-radius: 3px 0px 0px;
    bottom: 0px;
    z-index: 2;
    height: 60px;
    display: block;
}

div#bolao-barra div.bolao-barra-corpo {
    position: relative;
    margin: 3px 3px 0px 3px;
    background: url("../imagens/bg-botoes-barra.png") repeat-x scroll 0% 0% transparent;
    height: 57px;
}

#bolao-barra div.bolao-barra-corpo div.bolao-status {
    float: left;
    border-top: 1px solid #AAA;
    border-right: 1px solid #AAA;
    height: 57px;
    text-align: center;
    width: 182px;
    padding: 0px 20px;
}

#bolao-barra .apostar {
    background: url('../imagens/img-barra.png') no-repeat scroll 0px 0px transparent;
    height: 31px;
    padding-top: 1em;
    margin-top: 7px;
}

#bolao-barra .apostar .ui-commandlink {
    color: #FFF;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
}

#bolao-barra .ranking {
    background: url('../imagens/img-barra.png') no-repeat scroll 0px -43px transparent;
    height: 31px;
    padding-top: 1em;
    margin-top: 7px;
}

#bolao-barra .ranking .ui-commandlink {
    color: #fabb16;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
}


#bolao-barra .aposta-aberta{
	height: 47px;
	text-align: center;
}

#bolao-barra .aposta-fechada{
	height: 47px;
	text-align: center;
	color: #CA0000;
	font-size: 1.3em;
	padding-top: 20px;
	font-weight: bold;	
}

#bolao-barra div.bolao-barra-corpo div.bolao-status span.label {
    font-size: 1.3em;
    display: block;
    padding-top: 5px;
    color: #115b42;
}

#bolao-barra div.bolao-barra-corpo div.bolao-status span.label strong {
    margin-left: 2px;
    color: #fabb16;
}

#bolao-barra div.bolao-barra-corpo div.bolao-status span.data {
    font-size: 1em;
    color: #5e66d5;
}


.bemVindo{
	margin: 0px !important;
	padding: 0px;
	border: 0px none;
	outline: 0px none;
	font-size: 100%;
	font-family: inherit;
	margin-right: 30px !important;
}

.bemVindo .estilo-p1{
	color: #323232;
	font-size: 2.17em;
	letter-spacing: -0.07em;
	line-height: 0.7em;
	margin: 0px !important;
}

.bemVindo .estilo-p2{
	color: #323232;
	font-size: 3.33em;
	font-weight: bold;
	letter-spacing: -0.07em;
	line-height: 1em;
	margin: 0px !important;
}

.bemVindo .estilo-p3{
	color: #818181;
	font-size: 1.67em;
	letter-spacing: -0.05em;
	line-height: 1.5em;
	margin: 0px !important;
	text-align: right;
}

.bemVindo ul{
    margin: 2em 0px !important;
    list-style: none outside none;
}

.bemVindo ul li{
	color: #5E5E5E;
	font-weight: bold;
	list-style-image: url('../imagens/img_bullet.gif');
	margin: 0.3em 0px 0.3em 0px;
}

.background-ouro{
	background: #eeef8e
}

.background-prata{
	background: #d0d0c5
}

.background-bronze{
	background: #f9d69a
}

.background-usuario{
	background: #acdd4a;
}

.decrescente{
	color: #E00;
}

.crescente{
	color: #090;
}

.permanece{
	color:#0000ff;
}

.nomeRanking{
	font-weight: bold;
	color: #333;
}

.ui-selectmanymenu{
	padding: 2px;
	width: 400px;
}

.tabelaDT{
	border: 0px !important;  
    padding-left: 1em;  
}